//
   Created by kazuha on 13-9-29.
html
    head
        link(rel="stylesheet",type="text/css",href="/stylesheets/Test.css")
        link(href="/stylesheets/bootstrap.min.css",rel="stylesheet",media="screen")
        link(href="/stylesheets/bootstrap-theme.min.css",rel="stylesheet",media="screen")
        script(src="/javascripts/bootstrap.min.js")
        title=Title
    body
        div(class="bgImg")
            div(class="titlePanel")
                div(class='panel panel-default',id='info')
                    a(href='/login') 登录
                    span
                    a(href='#') 注册
                nav(class='navbar navbar-default',role='navigation')
                    div(class="collapse navbar-collapse navbar-ex1-collapse")
                        ul(class='nav navbar-nav')
                            li(class='active')
                                a(href="#") 主页
                            li
                                a(href='#') 乐谱
                            li
                                a(href='#') 我的音乐
                            li
                                a(href='/repository') 文件管理
                        form(class='navbar-form navbar-left',role='search',action='#',method='post')
                            div(class='form-group')
                                input(class='form-control',type='text',placeholder='请输入搜索内容..')
                            button(type='submit',class='btn btn-default')
                                span(class='glyphicon glyphicon-search')
            div(class='row')
                div(class='col-md-9')
                    div(class='mainPanel')
                        h1 GUIM
                        p For
                        form(action='#',method='post')
                            p
                                input(type='text',placeholder='something..')
                            p
                                button(class='btn btn-primary') click here>>
                div(class='col-md-3')
                    div(class='navigator')
                        h2 Navigator
                        p test1
                        p
                            img(class="img-circle",src="/images/glyphicons-halflings.png")