@CHARSET "UTF-8";

.panel{
	padding:20px;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	border-radius:6px;
	background:#eee;
	color:black;
	width:500px;
	height:350px;
}

.innerPanel{
	margin-left:auto;
	margin-right:auto;
	width:230px;
	height:160px;
}